
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* color:white; */
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  background-color: #d5d1d1;
  color: #363434;
}

.Parent{
  height:100vh;
  width:100%;
  background-color:#111;
  padding:30px;
  display:flex;
  gap: 20px;
}
.Card{
  height:340px;
  width:280px;
  background-color: #fff;
  border-radius: 20px;
  padding:30px;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}

.Card .top{
  display:flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom:40px;
}
.top img{
  height:30px;
  width:30px;
  border-radius: 50%;
  border:1px solid #dadada;
  padding:2px;
}
.top button{
  display: flex;
  align-items: center;
  border:1px solid #dadada;
  padding: 3px 6px;
  font-size: 11px;
  border-radius: 5px;
  gap:3px;
  background-color: transparent;
  color:#b1b1b1;


}
.bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #b1b1b1;
  padding-top:15px;

}
.bottom button{
  background-color: black;
  color:white;
  padding:5px 10px;
  border:none;
  border-radius: 5px;
  column-width: 600;
}
.bottom p{
  font-size: 12px;
  color:#8b8b8b;
}
.center{

}
.center h3{
  font-size: 17px;
  font-weight: 500;
}
.center h3 span{
  font-size: 9px;
  font-weight: 400;
  color:#8b8b8b;

}
.center h2{
  font-size:20px;
}
.center .tag{
  display: flex;
  gap: 5px;
  margin-top: 10px;

}
.center .tag h4{
  font-size: 12px;
  background-color: #dadada;
  color:#111;
  padding:3px 6px;
  font-weight: 500;
}