button{
    padding:30px 40px;
    color:red;
    
}
h1{
    background-color: rgb(52, 98, 215);
    width:fit-content;
    font-size: 50px;
    color:rgba(237, 239, 230, 0.89);
    padding:10px;
    margin:10px 20px;
}