*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'helvetica neue';
  color:#fff;
}

html{
  width:100%;
  height:100%;
}


body{
  background-color:#080808;
  align-items:center;
  
}
.Parent{
  padding:20px;
  display: flex;
  flex-wrap:wrap;
}

.Card{
  background-color:#120f0f;
  width:400px;
  border:2px solid white;
  border-radius:15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  text-align: center;
}

.Card button{
  padding:10px;
  background-color:white;
  color:black;
  border:none;
  border-radius:5px;
  
}

.Card img {
  height:100px;
  width:100px;
  object-fit:cover;
  border-radius:10px;
}
.Card p{
  margin:20px 0;
}